# Monad validator config template
# Populate using official Monad docs:
# https://docs.monad.xyz/node-ops/validator-installation
#
# Place the finalized file at /etc/monad/config.toml

[node]
moniker = "validator-1"
data_dir = "/var/lib/monad"

[rpc]
enabled = true
listen_addr = "0.0.0.0:26657"

[p2p]
listen_addr = "0.0.0.0:26656"
external_address = ""

[log]
level = "info"
output = "stdout"
